/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT  0
#define LOWER    1
#define RAISE    2
#define ALTER    3
&mt {
    tapping-term-ms = <200>;
    flavor: "tap-preferred";
    quick-tap-ms = <0>;
  };
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q         &kp W         &kp E             &kp R             &kp T     &trans    &trans      &kp Y         &kp U           &kp I           &kp O         &kp P
    &mt LSHFT A   &mt LCTRL S   &mt LALT D        &mt LGUI F        &kp G     &trans    &trans      &kp H         &mt RGUI J      &mt RALT K      &mt RCTRL L   &mt RSHFT SEMI
    &kp Z         &kp X         &kp C             &kp V             &kp B     &trans    &trans      &kp N         &kp M           &kp COMMA       &kp DOT       &kp FSLH
    &trans        &trans        &lt LOWER CAPS    &kp ESC           &kp RET   &trans    &trans      &kp SPACE     &kp BSPC        &lt RAISE TAB   &trans        &trans
            >;
        };

        lower {
            bindings = <
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &trans    &trans      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
    &trans    &trans    &trans    &trans    &trans    &trans    &trans      &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans
    &trans    &trans    &trans    &trans    &trans    &trans    &trans      &trans      &trans      &trans      &trans      &trans
    &trans    &trans    &trans    &kp ESC   &kp RET   &trans    &trans      &kp SPACE   &kp BSPC    &mo ALTER   &trans      &trans
            >;
        };

        raise {
            bindings = <
    &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &trans      &trans      &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR
    &kp GRAVE   &kp BSLH    &kp LBRC    &kp RBRC    &kp QMARK   &trans      &trans      &kp MINUS   &kp EQUAL   &kp LBKT    &kp RBKT    &kp SQT
    &kp TILDE   &kp PIPE    &trans      &trans      &trans      &trans      &trans      &kp UNDER   &kp PLUS    &kp LT      &kp GT      &kp DQT
    &trans      &trans      &mo ALTER   &kp ESC     &kp RET     &trans      &trans      &kp SPACE   &kp BSPC    &trans      &trans      &trans
            >;
        };

        alter {
            bindings = <
    &kp F1          &kp F2          &kp F3          &kp F4        &kp F5         &trans     &trans      &kp F6        &kp F7      &kp F8        &kp F9    &kp F10
    &kp C_BRI_DN    &kp C_BRI_UP    &kp C_VOL_DN    &kp C_MUTE    &kp C_VOL_UP   &trans     &trans      &kp C_PREV    &kp C_PP    &kp C_NEXT    &trans    &trans
    &trans          &trans          &trans          &trans        &trans         &trans     &trans      &trans        &trans      &trans        &trans    &trans
    &trans          &trans          &trans          &kp ESC       &kp RET        &trans     &trans      &kp SPACE     &kp BSPC    &trans        &trans    &trans
            >;
        };
    };
};
